* {
    margin: 2px;
    padding: 2px;
    border: 2px;
    
}

body {
    font-family: 'Viaoda Libre', cursive;
    background-color: #686868;
    font-size: x-large;
    text-align: center;
    padding: 10px;
    margin: 0 ;
    font-style: italic;

}
.container {
    
    color: ivory;
    font-size: larger;

}

h1 {
    color: black;
    font-size: 100px;
    font-style: italic;
    
}
h1, p {
    color: black;
}

ul, li {
    list-style-type: none;
    color: black;
    
}

ol, li {
    list-style-type: none;
    color: black;
}
ul a:hover{
    color:white;
}
#social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;

  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active:hover {
    background-color: #ddd;
    color: black;
  }


