* {
    margin: 2px;
    padding: 2px;
    border: 2px;
    
}

body {
    background-color: #686868;
    font-size: x-large;
    text-align: center;
    padding: 10px;
    margin: 0 ;
    border: 15px solid green;
    font-style: italic;

}
.container {
    
    color: ivory;
    font-size: larger;

}

h1 {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 100px;
    font-style: italic;
    
}
h1, p {
    color: black;
}

ul, li {
    list-style-type: none;
    color: black;
    
}

ol, li {
    list-style-type: none;
    color: black;
}



